{% load static %}
<section id="best-selling" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="products-thumb">
                            <img src="{{ best_selling_book.book_cover.url }}"
                                 alt="{{ best_selling_book.title }}"
                                 class="single-image"
                                 style="width:380px;height:542px;">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <div class="product-entry">
                            <h2 class="section-title divider">Best Selling Book</h2>
                            <div class="products-content">
                                <div class="author-name">By 
                                    <a href="{% url 'author_books' best_selling_book.author %}">
                                        {{ best_selling_book.author }}
                                    </a>
                                </div>
                                <h3 class="item-title">
                                    <a href="{% url 'detail' best_selling_book.pk %}">
                                        {{ best_selling_book.title }}
                                    </a>
                                </h3>
                                <p>{{ best_selling_book.description|truncatechars:109 }}</p>
                                <div class="item-price">$ {{ best_selling_book.price }}</div>
                                <div class="btn-wrap">
                                    <a href="#" class="btn-accent-arrow">shop it now <i class="icon icon-ns-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / row -->
            </div>
        </div>
    </div>
</section>
