{% load static %}
<section id="billboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="prev slick-arrow">
                    <i class="icon icon-arrow-left"></i>
                </button>
                <div class="main-slider pattern-overlay">
                    {% for book in billboard_books %}
                        <div class="slider-item">
                            <div class="banner-content">
                                <h2 class="banner-title">{{ book.title }}</h2>
                                <p>{{ book.description|truncatechars:109 }}</p>
                                <div class="btn-wrap">
                                    <a href="{% url 'book_detail' book.slug %}"
                                       class="btn btn-outline-accent btn-accent-arrow">
                                       Read More
                                       <i class="icon icon-ns-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!--banner-content-->
                            <img src="{{ book.book_cover.url }}"
                                 alt="{{ book.title }}"
                                 class="banner-image"
                                 style="width:395px;
                                        height:572px">
                        </div>
                    {% endfor %}
                    <!--slider-item-->
                </div>
                <!--slider-->
                <button class="next slick-arrow">
                    <i class="icon icon-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</section>
