{% load static %}

<section id="special-offer" class="bookshelf">
    <div class="section-header align-center">
        <div class="title">
            <span>Grab your opportunity</span>
        </div>
        <h2 class="section-title">Books with offer</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="inner-content">
                <div class="product-list" data-aos="fade-up">
                    <div class="grid product-grid">
                        
                        {% for book in books_with_offer %}
                            <figure class="product-style">
                            <img src="{{ book.book_cover.url }}"
                                 alt="{{ book.title }}"
                                 class="product-item"
                                 style="width:290px;height:380px;">
                            <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                            <figcaption>
                                <h3>{{ book.title }}</h3>
                                <p>{{ book.author }}</p>
                                <div class="item-price">
                                    <span class="prev-price">$ {{ book.price }}</span>$ {{ book.price }}
                                </div>
                            </figcaption>
                            </figure>
                        {% endfor %}
                            
                    </div>
                    <!--grid-->
                </div>
            </div>
            <!--inner-content-->
        </div>
    </div>
</section>
