{% extends "_base.html" %}

{% block content %}
<div class="container">
    <section class="comment-respond mb-5">
        <h1 style="text-align: center;">Log In</h1>
        <form action="" method="post" class="form-group mt-3">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <label for="username">Username*</label>
                    <input class="u-full-width"
                        type="text"
                        name="username"
                        class="form-control mb-4 mr-4"
                        placeholder="Username"
                        style="height:50px;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="password">Password*</label>
                    <input class="u-full-width"
                        type="password"
                        name="password"
                        class="form-control mb-4"
                        placeholder="Password"
                        style="height:50px;">
                </div>
                <div class="col-md-12">
                    <p>Don't have an account? <a href="">Sign Up here</a></p>
                    <input class="btn btn-rounded btn-large btn-full"
                        type="submit"
                        value="Log In" />
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock content %}