{% extends "_base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <section class="comment-respond mb-5">
        <h1 style="text-align: center;">Reset Password</h1>
        
        {% if validlink %}
            <form action="" method="post" class="form-group mt-3">
                {% csrf_token %}
                <div class="row">
                    {{ form.non_field_errors }}
                    <div class="col-md-12">
                        <label for="{{ form.email.id_for_label }}">New Password*</label>
                        {% render_field form.new_password1|attr:"placeholder:New Password"|add_class:"form-control mb-4 mr-4 u-full-width" %}

                        <label for="{{ form.email.id_for_label }}">New Password Confirmation*</label>
                        {% render_field form.new_password2|attr:"placeholder:Confirm New Password"|add_class:"form-control mb-4 mr-4 u-full-width" %}
                    </div>

                    <div class="col-md-12">
                        <input class="btn btn-rounded btn-large btn-full"
                            type="submit"
                            value="Change Password" />
                    </div>
                </div>
            </form>
        {% else %}
            <p>
                The password reset link was invalid probably because it has already been used.
                Please request a new password reset.
            </p>
        {% endif %}
            
    </section>
</div>
{% endblock content %}