<section class="comment-respond mb-5">
    <h3>Leave a Review</h3>
    <form action="{% url 'review' %}" method="post" class="form-group mt-3">
        {% csrf_token %}
        <input type="hidden" name="book" value="{{ book.pk }}">
        <div class="row">
            <div class="col-md-6">
                <input class="u-full-width"
                       type="text"
                       name="name"
                       class="form-control mb-4 mr-4"
                       placeholder="Your full name" />
            </div>
            <div class="col-md-6">
                <input class="u-full-width"
                       type="email"
                       name="email"
                       class="form-control mb-4"
                       placeholder="E-mail Address" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="u-full-width"
                          class="form-control mb-4"
                          name="review"
                          placeholder="Write your review here"
                          rows="20"></textarea>
            </div>
            <div class="col-md-12">
                <label class="example-send-yourself-copy">
                    <input type="checkbox" />
                    <span class="label-body">Save my name, email, and website in this browser for the next time
                    I comment.</span>
                </label>
            </div>
            <div class="col-md-12">
                <input class="btn btn-rounded btn-large btn-full"
                       type="submit"
                       value="Submit" />
            </div>
        </div>
    </form>
</section>
