{% load static %}
{% load socialaccount %}
<div id="header-wrap">
    <div class="top-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="social-links">
                        <ul>
                            <li>
                                <a href="{% provider_login_url 'github' %}">
                                <i class="fab fa-github"></i></a>
                            </li>
                            <li>
                                <a href="{% provider_login_url 'twitter' %}">
                                    <i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="{% provider_login_url 'google' %}">
                                    <i class="fab fa-google"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--social-links-->
                </div>
                <div class="col-md-6">
                    <div class="right-element">
                        {% if user.is_authenticated %}
                            <a href="{% url 'users:profile' %}" class="user-account for-buy">
                                <i class="icon icon-user"></i>
                                <span>{{ user.username }}</span>
                            </a>
                            
                            <a href="{% url 'logout' %}" class="user-account for-buy">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>LogOut</span>
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}" class="user-account for-buy">
                                <i class="fas fa-sign-in-alt"></i>
                                <span>LogIn</span>
                            </a>
                            <a href="{% url 'signup' %}" class="user-account for-buy">
                                <i class="icon icon-user"></i>
                                <span>SignUp</span>
                            </a>
                        {% endif %}
                        <a href="#" class="cart for-buy">
                            <i class="icon icon-clipboard"></i>
                            <span>Cart:(0 $)</span>
                        </a>
                        <div class="action-menu">
                            <div class="search-bar">
                                <a href="#"
                                   class="search-button search-toggle"
                                   data-selector="#header-wrap">
                                    <i class="icon icon-search"></i>
                                </a>
                                <form role="search" method="get" class="search-box">
                                    <input class="search-field text search-input"
                                           placeholder="Search"
                                           type="search" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--top-right-->
                </div>
            </div>
        </div>
    </div>
    <!--top-content-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="main-logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'booksaw/images/main-logo.png' %}" alt="logo" />
                        </a>
                    </div>
                </div>
                <div class="col-md-10">
                    <nav id="navbar">
                        <div class="main-menu stellarnav">
                            <ul class="menu-list">
                                <li class="menu-item active">
                                    <a href="{% url 'home' %}" data-effect="Home">Home</a>
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'about' %}" class="nav-link" data-effect="About">About</a>
                                </li>
                                <li class="menu-item has-sub">
                                    <a href="#pages" class="nav-link" data-effect="Pages">Pages</a>
                                    <ul>
                                        <li class="active">
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li>
                                            <a href="about.html">About</a>
                                        </li>
                                        <li>
                                            <a href="styles.html">Styles</a>
                                        </li>
                                        <li>
                                            <a href="blog.html">Blog</a>
                                        </li>
                                        <li>
                                            <a href="single-post.html">Post Single</a>
                                        </li>
                                        <li>
                                            <a href="shop.html">Our Store</a>
                                        </li>
                                        <li>
                                            <a href="single-product.html">Product Single</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'contact' %}">Contact</a>
                                        </li>
                                        <li>
                                            <a href="thank-you.html">Thank You</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="#popular-books" class="nav-link" data-effect="Shop">Shop</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#latest-blog" class="nav-link" data-effect="Articles">Articles</a>
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'contact' %}" class="nav-link" data-effect="Contact">Contact</a>
                                </li>
                            </ul>
                            <div class="hamburger">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>
<!--header-wrap-->
