{% extends "_base.html" %}

{% block content %}
    <div class="container">
        {% for book in books_by_author|slice:"1" %}
            <h1>Books By {{ book.author }}</h1>
        {% endfor %}
            
        {% for book in books_by_author %}
            <div class="col-md-3">
                <figure class="product-style">
                    <img src="{{ book.book_cover.url }}"
                        alt="{{ book.title }}"
                        class="product-item"
                        style="width:290px;height:380px;">
                    <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                        Add to Cart
                    </button>
                    <figcaption>
                        <h3>
                            <a href="{% url 'book_detail' book.slug %}">
                                {{ book.title }}
                            </a>
                        </h3>
                        <p>{{ book.author }}</p>
                        <div class="item-price">$ {{ book.price }}</div>
                    </figcaption>
                </figure>
            </div>      
        {% endfor %}
    </div>
    
{% endblock content %}